header{
    display: flex;
    justify-content: flex-start;
}

header button{
    height: auto;
}

.labelName {
    font-size: 24px;
    width: 260px;
}

.uppercase {
    text-transform: uppercase;
}

.flexColumn {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flexColumn2 {
    width: 79%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#flexColumn3{
    display: flex;
    align-items: center;
}

#categories {
    max-width: 85%;
}

textarea, input {
    font-size: 16px;
    width: 60%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    resize: none;
}

textarea:focus, input:focus {
    outline-color: #e33778;
}

.recipeFlex {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
}

.recipeFlex h1 {
    padding-top: 10px;
}

.recipeFlex button {
    font-size: 16px;
    padding: 0 30px;
    height: 40px;
}

.addRecipe{
    padding: 0 50px;
    font-size: 20px;
    border-color: #e33778;
    color: #e33778;
}

h1{
    user-select: none;
}

.disabled{
    opacity: 0.4 !important;
    pointer-events: none !important;
    user-select: none;
}

.error{
    color: #ff0505 !important;
    border-color: #ff0505 !important;
}