.navigation {
    padding: 20px;
    border-radius: 20px 20px 0 0;
    background-color: #ecebf1;
    margin: 0 auto;
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButton {
    margin: 0 10px;
    padding: 5px 15px;
}

.navButton img {
    height: 36px;
}

#pageContent {
    display: flex;
    flex-direction: column;
}

.mainHeading {
    background: linear-gradient(to right, #e33778 0%, #ecebf1 50%, #e33778 100%);
    text-align: center;
    font-size: 48px;
    color: #e33778;
    margin-bottom: 50px;

}

.half1 h1, .half2 h1 {
    font-size: 38px;
}

.boxPadding {
    box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 50px;
    background-color: #fefefe;
    border-radius: 20px;
}

.half1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    width: 35%;
}


.foodPic {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.25);
    height: 200px;
    margin-top: 50px;
    border-radius: 20px;
}

.foodPic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ingredients {
    width: 100%;
}

.ingredients h1 {
    margin-bottom: 20px;
}

.noPointer:hover, .ingredients:hover {
    cursor: default !important;
    z-index: 102 !important;
}

.ingredients,
.noPointer {
    position: relative;
}

.ingredients:hover + .overlay,
.noPointer:hover + .overlay {
    visibility: visible;
    opacity: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: visible;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

li {
    font-size: 18px;
    margin-bottom: 8px;
}

.half2 {
    padding-left: 50px;
    width: 65%;
}

.timer {
    display: flex;
    margin-top: 8px;
    margin-bottom: 20px;
}

.timer img {
    height: 20px;
    margin-right: 10px;
    margin-left: 5px;
}

.timer h3 {
    color: #525252;
    font-weight: 500;
}

.half2 p {
    font-size: 18px;
    line-height: 1.7;
}

@media screen and (min-width: 1280px) {

    .half1{
        width: 42%;
        padding-right: 25px;
    }

    .half2{
        width: 58%;
        padding-left: 25px;
    }

    .boxPadding{
        padding: 25px;
    }

}


