<!DOCTYPE html>
<html lang="et">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/addRecipe.css">
    <link rel="stylesheet" type="text/css" href="../css/hover.css">

    <title>Retseptid</title>

</head>

<body>

<!-- Webpage content -->
<section id="pageContent">

    <header>
        <button class="bordering hoverRed font fontWeight"><img src="../assets/backColored.png" width="50%"></button>
        <h1 class="font" style="text-align: center; font-size: 48px; color: #e33778; width: 85%">UUS RETSEPT</h1>
    </header>

    <!-- Recipe Name -->
    <section class="recipeFlex">
        <h1 class="font labelName">Retsepti nimi:</h1>
        <input id="recipeName" class="font hoverBlack capitalize" style="width: 42%" maxlength="50"
               placeholder="Pasta carbonara" rows="1">
    </section>

    <!-- Recipe type -->
    <section class="recipeFlex">
        <h1 class="font labelName">Retsepti tüüp:</h1>
        <button class="bordering hoverBlack font fontWeight">Soolane</button>
        <button class="bordering hoverBlack font fontWeight" style="margin-left: 50px;">Magus</button>
    </section>

    <!-- Recipe preparing time -->
    <section class="recipeFlex">
        <h1 class="font labelName">Tegemise aeg (min):</h1>
        <input type="number" id="recipeTime" class="font hoverBlack" style="width: 8%" name="numberInput" min="0"
               max="999" step="1"
               placeholder="120">
    </section>

    <!-- Recipe Category -->
    <section class="recipeFlex">
        <h1 class="font labelName">Kategooria:</h1>

        <div class="flexColumn">

            <!-- Choosable categories -->
            <div id="categories" class="bordering">
                <div class="filter hoverBlack font fontWeight">SALATID</div>
                <div class="filter hoverBlack font fontWeight">SUPID</div>
                <div class="filter hoverBlack font fontWeight">PASTAD</div>
                <div class="filter hoverBlack font fontWeight">KOOGID</div>
                <div class="filter hoverBlack font fontWeight">JOOGID</div>
                <div class="filter hoverBlack font fontWeight">KÜPSETISED</div>
                <div class="filter hoverBlack font fontWeight">PRAED</div>
                <div class="filter hoverBlack font fontWeight">EELROAD</div>
            </div>

            <!-- Add new category -->
            <div class="flexColumn2">

                <h1 class="font" style="margin: 10px 0; font-size: 18px">VÕI</h1>
                <div style="display: flex; align-items: center">
                    <h2 class="font labelName" style="font-size: 24px">Lisa uus kategooria:</h2>
                    <input type="text" id="addCategory" maxlength="50" style="width: 40%"
                           class="font hoverBlack uppercase"
                           placeholder="KOOGID">
                </div>

            </div>

        </div>

    </section>

    <!-- Recipe Ingredients -->
    <section class="recipeFlex">
        <h1 class="font labelName">Retsepti koostisosad:</h1>
        <textarea id="recipeIngredients" maxlength="500" class="font hoverBlack"
                  placeholder="1 spl oliiviõli, 225g peekonit, 1-2 küüslauguküünt, 3-4 muna, 100g riivjuustu, 450g spagette, sool, pipar"
                  class="font" rows="2"></textarea>
    </section>

    <!-- Recipe Instructions -->
    <section class="recipeFlex">
        <h1 class="font labelName">Retsepti juhend:</h1>
        <textarea id="recipeInstructions" maxlength="1000" class="font hoverBlack capitalize"
                  placeholder="Sega 3-4 munakollast koos 100 g riivjuustuga. Kurna keedetud pasta, lisa see pannile peekoni ja küüslauguga ning sega kiiresti munaseguga.

Maitsesta soola ja värskelt jahvatatud musta pipraga. Serveeri kohe koos rohkelt riivitud juustuga. Nüüd saad nautida maitsvat pasta carbonarat!"
                  rows="10"></textarea>
    </section>

    <!-- Recipe Picture -->
    <section class="recipeFlex">
        <h1 class="font labelName">Lisa pilt:</h1>
        <label for="recipeImage" class="font hoverBlack imgLabel"">
            Select a PNG Image:
        </label>
        <input type="file" id="recipeImage" style="display: none" accept=".png, image/png">
    </section>

    <!-- Submit category -->
    <div style="display: flex; justify-content: center; margin-top: 50px">
        <button class="bordering hoverRed font fontWeight addRecipe">Lisa</button>
    </div>

</section>

</body>

</html>