<!DOCTYPE html>
<html lang="et">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/hover.css">

    <title>Retseptid</title>

</head>

<body>

<header>

    <!-- Banner img -->
    <div id="banner">

        <!-- Search function and heading parent div -->
        <div class="welcome">

            <div id="searchContainer" class="hoverBlack">

                <!-- Search icon -->
                <div class="search-icon">
                    <img src="../assets/search.png" alt="IKOON">
                </div>
                <!-- Search input field -->
                <input type="text" class="search-input font" placeholder="Otsi retsepte">

            </div>
            <h1 class="font">Minu Retseptid</h1>

        </div>

    </div>

</header>

<!-- Webpage content -->
<section id="pageContent">

    <!-- Filters -->
    <section id="filters">

        <!-- Categories -->
        <div id="categories" class="bordering">
            <div class="filter hoverBlack font fontWeight" onclick="changeColor(this)">SALATID</div>
            <div class="filter hoverBlack font fontWeight" onclick="changeColor(this)">SUPID</div>
            <div class="filter hoverBlack font fontWeight" onclick="changeColor(this)">PASTAD</div>
            <div class="filter hoverBlack font fontWeight" onclick="changeColor(this)">KOOGID</div>
            <div class="filter hoverBlack font fontWeight" onclick="changeColor(this)">JOOGID</div>
            <div class="filter hoverBlack font fontWeight" onclick="changeColor(this)">KÜPSETISED</div>
            <div class="filter hoverBlack font fontWeight" onclick="changeColor(this)">PRAED</div>
            <div class="filter hoverBlack font fontWeight" onclick="changeColor(this)">EELROAD</div>
        </div>

        <!-- Add new recipe -->
        <button id="addRecipe" class="bordering hoverRed font fontWeight">LISA RETSEPT</button>

        <!-- Recipe type -->
        <select name="Tüüp" id="type" class="bordering hoverBlack font fontWeight">
            <option value="tuup">TÜÜP</option>
            <option value="soolane">SOOLANE</option>
            <option value="magus">MAGUS</option>
        </select>


    </section>

    <!-- The count of all recipes -->
    <p id="recipeCount" class="font">You have <strong>26</strong> recipes</p>

    <!-- Displayed recipes -->
    <section id="recipes">

        <div class="recipe hoverBlack">

            <h2 class="font">Pasta carbonara</h2>
            <img src="https://drive.google.com/uc?id=1PmXCCX-fE1CkpUw6fENh-tTUiLvUPk9E" alt="PASTA">

        </div>


    </section>

</section>

<script src="../js/changeColor.js"></script>

</body>

</html>