<!DOCTYPE html>
<html lang="et">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <title>Retseptid</title>

</head>

<body>

<header>

    <div id="banner">

        <div class="welcome">
            <div id="searchContainer">

                <!-- Search icon -->
                <div class="search-icon">
                    <img src="../assets/search.png" alt="IKOON">
                </div>
                <!-- Search input field -->
                <input type="text" class="search-input font" placeholder="Otsi retsepte">

            </div>
            <h1 class="font">Minu Retseptid</h1>
        </div>

    </div>

</header>

<section id="pageContent">

    <section id="filters">

        <div id="categories" class="bordering">
            <div class="filter hoverRed font fontWeight">SALATID</div>
            <div class="filter hoverRed font fontWeight">SUPID</div>
            <div class="filter hoverRed font fontWeight">PASTAD</div>
            <div class="filter hoverRed font fontWeight">KOOGID</div>
            <div class="filter hoverRed font fontWeight">JOOGID</div>
            <div class="filter hoverRed font fontWeight">KÜPSETISED</div>
            <div class="filter hoverRed font fontWeight">PRAED</div>
            <div class="filter hoverRed font fontWeight">EELROAD</div>
        </div>

        <div id="addRecipe" class="bordering hoverRed font fontWeight">LISA RETSEPT</div>

        <select name="Tüüp" id="type" class="bordering hoverRed font fontWeight">
            <option value="tuup">TÜÜP</option>
            <option value="soolane">SOOLANE</option>
            <option value="magus">MAGUS</option>
        </select>


    </section>

    <p id="recipeCount" class="font">You have <strong>26</strong> recipes</p>

    <section id="recipes">

    </section>

</section>

</body>

</html>