<!DOCTYPE html>
<html lang="et">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/recipe.css">
    <link rel="stylesheet" type="text/css" href="../css/hover.css">

    <title>Retseptid</title>

</head>

<body>

<!-- Navigation -->
<header>

    <div class="navigation">
        <button class="bordering hoverRed font fontWeight navButton"><img src="../assets/backColored.png"
                                                                          class="navButton"></button>
        <button class="bordering hoverRed font fontWeight navButton"><img src="../assets/editColored.png"
                                                                          class="navButton"></button>
        <button class="bordering hoverRed font fontWeight navButton"><img src="../assets/deleteColored.png"
                                                                          class="navButton"></button>
    </div>

</header>

<!-- Webpage content -->
<section id="pageContent">

    <h1 class="font mainHeading">RETSEPT</h1>

    <section style="display: flex">

        <div class="half1">

            <div class="ingredients boxPadding font hoverBlack">

                <h1>Koostisosad</h1>
                <ul>
                    <li>1 spl oliiviõli</li>
                    <li>225g peekonit</li>
                    <li>1-2 küüslauguküünt</li>
                    <li>3-4 muna</li>
                    <li>100g riivjuustu</li>
                    <li>450g spagette</li>
                    <li>sool</li>
                    <li>pipar</li>
                </ul>

            </div>
            <div class="overlay"></div>

        </div>

        <div class="half2 font">

            <div class="boxPadding hoverBlack noPointer">

                <h1>Pasta carbonara</h1>
                <div class="timer">
                    <img src="../assets/time.png">
                    <h3>45min</h3>
                </div>
                <p>Sega 3-4 munakollast koos 100 g riivjuustuga. Kurna keedetud pasta, lisa see pannile peekoni ja
                    küüslauguga ning sega kiiresti munaseguga.<br><br>

                    Maitsesta soola ja värskelt jahvatatud musta pipraga. Serveeri kohe koos rohkelt riivitud juustuga.
                    Nüüd
                    saad nautida maitsvat pasta carbonarat!</p>

            </div>
            <div class="overlay"></div>

        </div>

    </section>

    <div class="foodPic">

        <img src="../assets/food/pasta.png"></button>

    </div>

</section>

</body>

</html>